.footer-container{
  background-color: var(--navy);
  color: var(--cream);
}
.footer-wrapper{
  display: flex;
  padding: 20px 70px;
  justify-content: space-between;
  
}

.footer-logo{
  color: var(--army);
  height: 200px;
  background-color: var(--cream);
  width: 200px;
}

@media (max-width: 768px){
 .footer-wrapper{
  flex-direction: column;
  gap: 30px;
 }
}